<!--start image-header-->
<!--start image-header -->
<div class="ourClass">
  <img style="background-size: cover; position: relative; width: 100%;" src="assets/images/class-bg.jpg"/>
  <img style="position:absolute; left:5%; top: 54.5%;" src="assets/images/class-bg1.png" class="move1"/>
  <img style="position:absolute;left:13%; top: 20%;" src="assets/images/class-bg2.png" class="move2"/>
  <img style="position:absolute;left:10%; top: 45%;" src="assets/images/class-bg3.svg"/>
  <h1 style="position:absolute;left:12%; top: 37%; color: white;">About</h1>
  <nav style="position:absolute;left:14%; top: 45%;" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/home">Gymate</a></li>
      <li class="breadcrumb-item" style="color: #FF0336;">Library</li>
    </ol>
  </nav>
</div>

<!--end image-header-->

<!--end image-header-->

<!--start who-we-are-->
<div class="who-we-are " style="margin-top:150px">
  <div class="container">
    <div class="row">
      <div class="col-md-6  col-sm-12 imgs  p-0">
      <img  src="assets/images/about-5.jpg" class="card-img img-fluid classImg" >
      </div>
      <div class="col-md-6 col-sm-12 p-5 ">
        <h2 >
          We Will Give You Strength and Health
        </h2>
        <p class="py-3">
          Gymat an unknown printer took a galley type and scraey aretea bled make a type specimen book. May has survived not onlyive centuries but also the leap electronic.Gymatn unknown printer took a galley of type and scraey aretea.
        </p>
        <ul>
          <li>Gymat an unknown printer</li>
          <li>Scraey aretea bled makea type</li>
          <li>Bookhas survived not onlyive</li>
          <li>Centuries but also the leap electronic.</li>
        </ul>
        <button style="margin-top:40px;background-color:#ff0336;padding:10px;border:none;outline:none;font-weight:bold;color:#fff">CONTACT WITH US<img  class="ps-2" src="assets/images/arrow-right.svg"></button>

      </div>
    </div>
  </div>

</div>
<!--end who we are-->


<!--start history-->
<div class="history" style="margin:150px 0">
  <div class="container" >
    <div class="row" >
      <div class="col-md-6 d-flex align-items-center col-sm-12 text-center px-5">
        <div>
          <span class="icon" >
            <i class="bi bi-clock-history" style="font-weight:bold;font-size:80px"></i>
          </span>
            <h2 class="my-3">
              Our History
            </h2>
            <p>
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit Exercitation veniam consequat.
            </p>
        </div>
      </div>
      <div class="col-md-6  col-sm-12 imgs  p-0">

          <img   src="assets/images/about-3.jpg" class="card-img img-fluid classImg">

      </div>
      <div class="col-md-6  col-sm-12  imgs p-0">
          <img   src="assets/images/about-4.jpg" class="card-img img-fluid classImg">
      </div>

      <div class="col-md-6 d-flex align-items-center col-sm-12 text-center px-5">
        <div>
          <span class="icon" >
            <i class="bi bi-check2-square" style="font-weight:bold;font-size:80px"></i>
          </span>
            <h2 class="my-3">
              Our Mission
            </h2>
            <p>
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit Exercitation veniam consequat.
            </p>
        </div>
      </div>
    </div>

  </div>

</div>

<!--end history-->

