<div class="ourClass">
  <img style="background-size: cover; position: relative; width: 100%;" src="assets/images/class-bg.jpg" />
  <img style="position:absolute; left:5%; top: 54.5%;" src="assets/images/class-bg1.png" class="move1" />
  <img style="position:absolute;left:13%; top: 20%;" src="assets/images/class-bg2.png" class="move2" />
  <img style="position:absolute;left:10%; top: 45%;" src="assets/images/class-bg3.svg" />
  <h1 style="position:absolute;left:12%; top: 37%; color: white;">Exercise Title</h1>
  <nav style="position:absolute;left:13%; top: 45%;" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/home">Gymate</a></li>
      <li class="breadcrumb-item" style="color: #FF0336;">{{exercise.name}}</li>
    </ol>
  </nav>
</div>

<div class="pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-8 mt-5 mb-5">
        <div class="container">
          <div>
            <h3 class="fw-bold mb-5">How To Exercise {{exercise.name}}</h3>
            <img src="{{imagepath}}{{exercise.image}}"
              style="width: 50%; margin-left: auto; margin-right: auto; display: block;" />
            <h3 class="fw-bold mt-5">How To Exercise Benefits</h3>
            <p>{{exercise.discription}}</p>
            <!-- minut timer start -->

            <!-- minut timer end -->
          </div>
        </div>
      </div>
      <div class="col-4 mt-3">
        <div class="row row-cols-1">
          <div class="col p-4">
            <div class="card ">
              <div class="card-header">
                Preview
              </div>
              <div class="card-body">
                <div class="mb-2">
                  <img src="{{imagepath}}{{exercise.image}}" style="width:100%" />
                </div>
              </div>
            </div>
          </div>

          <div class="col p-4">
            <div class="card ">
              <div class="card-header">
                EQUIPMENT
              </div>
              <div class="card-body">
                <div class="mb-2">
                  <ul style="color: grey; font-size: 17px; list-style: none;">
                    <li><svg style="fill: #FF0336; width: 8%; padding-right: 10px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 0C114.6 0 0 114.6 0 256c0 141.4 114.6 256 256 256s256-114.6 256-256C512 114.6 397.4 0 256 0zM358.6 278.6l-112 112c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25L290.8 256L201.4 166.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l112 112C364.9 239.6 368 247.8 368 256S364.9 272.4 358.6 278.6z"/></svg>{{exercise.equipment}}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>


          <div class=" col p-4 card text-center" >
            <div class="card-body">
              <h5 class="card-title"><img src="../../../assets/files/clock.svg"></h5>
              <h1 class="card-text">{{minuts}}:{{second}}</h1>

              <select [ngModelOptions]="{standalone: true}" [(ngModel)]="minuts"  >
            <option *ngFor="let number  of [0,1,2,3,4,5,6,7,8,9,10,11]" >{{number}}</option>
              </select>
              <select [ngModelOptions]="{standalone: true}" [(ngModel)]="second" >seconds
                <option *ngFor="let number of [0,10,20,30,40,50,60]" >{{number}}</option>
                  </select>
                    <button class=" btn btn-danger " (click)="startTimer()">start</button>


            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
