



<footer class="footer-section my-5 ">
  <img src="assets/images/shape-98.png" style="position:absolute;right:0">
    <div class="container" >
      <div class="row">
        <div class="col-md-3 col-sm-6 img-section">
          <img src="assets/images/gymat_dark-1.svg" alt="">
          <p class="my-3">
            Gesent vel rutrum purus Nam vel dui eu risus duis dignissim dignissim Suspen disse at eros tempus
          </p>
          <div class="icons">
            <a class="facebook"><i class="bi bi-facebook" style="color:#888"></i></a>
            <a class="twitter"><i class="bi bi-twitter" style="color:#888"></i></a>
            <a class="linkedin"><i class="bi bi-linkedin" style="color:#888"></i></a>
            <a class="youtube"> <i class="bi bi-youtube" style="color:#888"></i></a>
            <a class="instagram"><i class="bi bi-instagram" style="color:#888"></i></a>

          </div>

        </div>
        <div class="col-md-3 col-sm-6">
          <h3>Our Classes</h3>
          <p class="my-3">
            Fitness Classes<br>
            Aerobics Classes<br>
            Power Yoga<br>
            Lean Machines<br>
            Full-Body Strength
          </p>

        </div>
        <div class="col-md-3 col-sm-6">
          <h3>Quick Links</h3>
          <p class="my-3">
            Fitness Classes<br>
            Aerobics Classes<br>
            Power Yoga<br>
            Lean Machines<br>
            Full-Body Strength
          </p>

        </div>
        <div class="col-md-3 col-sm-6 Gymat">
          <h3>Gymat Location</h3>
          <p class="my-3">
                178 West 27th Street, Suite 527, New York NY 10012 United States
              <a><i class="bi bi-telephone-fill" style="color:#ff0336"></i>+1-234-5678901</a>
                gymat@yourname.com
          </p>

        </div>

      </div>
    </div>

</footer>
<div class="text-section text-center  py-4">
  <div class="container">
    <p>
      © 2022 Gymat. All Rights Reserved By RadiusTheme
    </p>
  </div>
</div>

