<div class="container">
    <div class="contact">
      <h1 class="text-center font-bold">Payment</h1>
      <div class="row ">
        <div class="col-4 p-5 ">
          <h5>Location:</h5>
          <p>450 NW Couch Street,</p>
          <p>450 NW Couch Street,</p>
        </div>
        <div class="col-4 p-5 ">
          <h5>Email us:</h5>
          <p> name@email.com</p>
        </div>
        <div class="col-4 p-5 ">
          <h5>Call us:</h5>
          <p>+ (123) 1800-567-8990</p>
        </div>
      </div>
    </div>
    </div>
    
    
    <div class="container">
    <div class="row">
        <div class="col-8 text-center">
          <button (click)="initializePayment(1)" class="btn btn-success col-6">Pay For Payment</button>
        </div>
    </div>
    </div>
    