         
  <div class="wrapper">
    <div class="logo">
        <img src="assets/images/logo.svg" alt="">
    </div>
    <div class="text-center mt-4 name">
      Login    </div>
    <form class="p-3 mt-3" [formGroup]="loginForm"  (ngSubmit)="onSubmit()"   novalidate >
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            
            <input type="email" name="email" id="userName"  matInput placeholder="Email" formControlName="email">
            
          </div>
          <div class="text-danger" *ngIf="!loginForm.get('email')?.errors?.['required'] && (loginForm.get('email')?.errors?.['pattern'])">
              Please enter a valid email address
            </div>
            <div class="text-danger" *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched) && loginForm.get('email')?.errors?.['required']">
              Email is required
            </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="password" id="pwd" matInput type="password" placeholder="Password" formControlName="password">
            
          </div>
          <div class="text-danger" *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched) && loginForm.get('password')?.errors?.['required']">
              Password is required
            </div>
        <button class="btn mt-3  bg-danger"  [disabled]="!loginForm.valid">Login</button>
    </form>
    <div class="text-center fs-6">
        <a href="#">Forget password?</a> or <a routerLink="/register" >Signup</a>
    </div>
</div>