<div class="auth-wrapper">
    <form class="form-signin" [formGroup]="loginForm"  (ngSubmit)="onSubmit()"   novalidate>
        <h3 class="h3 mb-3 font-weight-normal text-center">Sign in</h3>
        <!-- Errors -->
        <div *ngIf="errors?.email" class="alert alert-danger mt-3">
            {{ errors?.email }}
        </div>
        <div *ngIf="errors?.password" class="alert alert-danger mt-3">
            {{ errors?.password }}
        </div>
        <div *ngIf="errors?.error" class="alert alert-danger mt-3">
            {{ errors?.error }}
        </div>
        <!-- Login -->
        <div class="form-group">
            
                <input matInput placeholder="Email" formControlName="email">
                <div *ngIf="!loginForm.get('email')?.errors?.['required'] && (loginForm.get('email')?.errors?.['pattern'])">
                  Please enter a valid email address
                </div>
                <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched) && loginForm.get('email')?.errors?.['required']">
                  Email is required
                </div>
              </div>
        
        <div class="form-group">
            
                <input matInput type="password" placeholder="Password" formControlName="password">    
                <div *ngIf="!loginForm.get('password')?.errors?.['required']">
                  
                </div>
                <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched) && loginForm.get('password')?.errors?.['required']">
                  Password is required
                </div>
              </div>
       
        <button type="submit" [disabled]="!loginForm.valid" mat-raised-button class="btn btn-block btn-primary">Log in</button>
    </form>
  </div>