<div class="ourClass">
  <img style="background-size: cover; position: relative; width: 100%;" src="assets/images/class-bg.jpg"/>
  <img style="position:absolute; left:5%; top: 54.5%;" src="assets/images/class-bg1.png" class="move1"/>
  <img style="position:absolute;left:13%; top: 20%;" src="assets/images/class-bg2.png" class="move2"/>
  <img style="position:absolute;left:10%; top: 45%;" src="assets/images/class-bg3.svg"/>
  <h1 style="position:absolute;left:12%; top: 37%; color: white;">My Wishlist</h1>
  <nav style="position:absolute;left:14.5%; top: 45%;" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/home">Gymate</a></li>
      <li class="breadcrumb-item" style="color: #FF0336;">Wishlist</li>
    </ol>
  </nav>
</div>

<div class="card w-75 mx-auto mt-5 mb-5">
  <div class="card-header">
    Workout Title
  </div>
  <div class="card-body">
    <div class="mb-2">
      <a routerLink="/single-workout/workout-details" class="btn" style="background-color:#ff0336;border:none;outline:none;color:#fff;padding:10px;margin-top:10px; ">
        View The Workout
      </a>
      <a routerLink="/wishlist" class="btn" style="background-color:#ff0336;border:none;outline:none;color:#fff;padding:10px;margin-top:10px; margin-left: 20px;">
        Un-Save
      </a>
    </div>
  </div>
</div>
<div class="card w-75 mx-auto mt-5 mb-5">
  <div class="card-header">
    Workout Title
  </div>
  <div class="card-body">
    <div class="mb-2">
      <a routerLink="/single-workout/workout-details" class="btn" style="background-color:#ff0336;border:none;outline:none;color:#fff;padding:10px;margin-top:10px; ">
        View The Workout
      </a>
      <a routerLink="/wishlist" class="btn" style="background-color:#ff0336;border:none;outline:none;color:#fff;padding:10px;margin-top:10px; margin-left: 20px;">
        Un-Save
      </a>
    </div>
  </div>
</div>
