<!--start shop-online -->
<div class="shop-online " style="margin:100px 0">
  <div class="container">
    <app-search (searchTextChanged)="onsearchTextEntered($event)"></app-search>
    <div class="mb-3">
      <select id="disabledSelect" class="form-select" (change)="fiterCategory($event)" >
        <option [value]=0 selected>select all result</option>
        <option *ngFor="let item of categories" [value]="item.id">{{item.name}}</option>
      </select>
    </div>
    <div class="row products m-5 ">
      <ng-container *ngFor="let item of products">
        <div class="  col-lg-4 col-md-6 mt-5 mb-5" *ngIf="searchText === '' || item.name.toLowerCase().includes(searchText)|| item.name.toUpperCase().includes(searchText)" >
          <div>
          <div style="background-color:rgb(250, 245, 245);text-align:center;width:100%;height:100%">
            <img (click)="detailcart(item)" style="cursor:pointer" routerLink="/detail"  src="{{imagepath}}{{item.image}}" style="width:200px" height="300px">
          </div>
  
          <h5 style="margin:20px 0">{{item.name}}</h5>
          <h5 style="color:#ff0336">{{item.price}}</h5>
          <h5>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </h5>

          <!-- <button style="background-color:#ff0336;border:none;outline:none;color:#fff;padding:10px;margin-top:10px">
            <i class="bi bi-basket-fill" style="color:#fff"></i>
            Add To Cart
          </button> -->

          <div class="d-flex justify-content-between">
            <button  (click)="addcart(item)" style="background-color:#ff0336;border:none;outline:none;color:#fff;padding:10px;margin-top:10px">
              <i class="bi bi-basket-fill" style="color:#fff"></i>
              Add To Cart
            </button>
            <button (click)="add(item)" style="border:none;outline:none;background-color:#fff;"><span class="heart-sec" style="font-size:30px;color:#ff0336"><i class="bi bi-heart-fill" ></i></span></button>
          </div> 
   
      <!-- <div class=" col-lg-4 col-md-6">

        </div>
        </div>
      </ng-container>
    </div>
  </div>

<!--end shop-online-->