a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #FF0336;
}

.move1 {
  animation: bg1 5s infinite;
  animation-timing-function: ease-in-out;
  -webkit-animation: bg1 5s infinite;
}

.move2 {
  animation: bg2 3s infinite;
  animation-timing-function: ease-in-out;
  -webkit-animation: bg2 3s infinite;
}

@keyframes bg1 {
  0%   {left:5%; top: 54.5%;}
  50%  {left:8%; top: 51.5%;}
  100% {left:5%; top: 54.5%;}
}

@keyframes bg2 {
  0%   {left:13%; top: 20%;}
  50%  {left:14%; top: 15%;}
  100% {left:13%; top: 20%;}
}


/*start trainer-section*/
/* .trainer-section{
  padding:100px 0;
  background-image:url('/assets/images/Group-47-1-1.jpg');
  color:#fff;
  position:relative;
} */

.trainer-section .section-one{
  background: #fff;
  border: none;
  border-radius: 200px 100px;
  overflow:hidden;
  padding:20px 0 0 0;
  -webkit-border-radius: 200px 100px;
  -moz-border-radius: 200px 100px;
  -ms-border-radius: 200px 100px;
  -o-border-radius: 200px 100px;
}

.trainer-section .section-one .text{
  margin:40px 0 0 80px;
}
.trainer-section .section-one .text h4{
  font-weight:bold;
  color:#000;
}
.trainer-section .section-one .text p{
  color:#888;
}



/*end trainer-section>*/
