<!--start image-header -->
<div class="ourClass mb-5">
  <img style="background-size: cover; position: relative; width: 100%;" src="assets/images/class-bg.jpg" />
  <img style="position:absolute; left:5%; top: 54.5%;" src="assets/images/class-bg1.png" class="move1" />
  <img style="position:absolute;left:13%; top: 20%;" src="assets/images/class-bg2.png" class="move2" />
  <img style="position:absolute;left:10%; top: 45%;" src="assets/images/class-bg3.svg" />
  <h1 style="position:absolute;left:12%; top: 37%; color: white;">Trainers</h1>
  <nav style="position:absolute;left:14%; top: 45%;" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/home">Gymate</a></li>
      <li class="breadcrumb-item" style="color: #FF0336;">Library</li>
    </ol>
  </nav>
</div>

<!--end image-header-->


<!--start trainer-section-->

<!-- <div class="trainer-section" style="margin:150px 0">
  <div class="container">
    <h3 class="text-center mb-5">Meet Our Experienced<br>Cool Trainers</h3>
      <div class="d-lg-flex justify-content-evenly" *ngFor="let Trainer of Trainers; let i = index">
        <a [routerLink]="['/trainerdetails',Trainer.id]">
      <div class=" section-one d-flex "   style="position:relative ;background-color:rgb(245, 238, 238)">
        <div class="text">
          <h4>{{Trainer.name}}</h4>
          <p>Yoga Trainer</p>
          <p>{{Trainer.decription}}</p>
          <a class="facebook"><i class="bi bi-facebook me-3" style="color:#888"></i></a>
          <a class="twitter"><i class="bi bi-twitter" style="color:#888"></i></a>
          <a class="linkedin"><i class="bi bi-behance mx-3" style="color:#888"></i></a>
          <a class="youtube"> <i class="bi bi-dribbble" style="color:#888"></i></a>
        </div>
        <img src="assets/images/team-17.png" >
      </div>
    </a>
      </div>
  </div>

</div> -->
<!--end trainer-section-->
<!--start trainer-section-->
<div class="trainer-section" style="margin:150px 0">
  <div class="container">
    <h3 class="text-center mb-5">Meet Our Experienced<br>Cool Trainers</h3>
    <app-search (searchTextChanged)="onsearchTextEntered($event)"></app-search>
    <div class="row">
      <ng-container *ngFor="let Trainer of Trainers; let i = index">
        <div class=" col-5 section-one  m-3 " 
        style="position:relative ;background-color:rgb(245, 238, 238)" *ngIf="searchText === '' || Trainer.name.toLowerCase().includes(searchText)|| Trainer.name.toUpperCase().includes(searchText)">
        <div >
          <div class="d-flex">
            <a [routerLink]="['/trainerdetails',Trainer.id]">
              <div class=" section-one d-flex " style="position:relative ;background-color:#fff">
                <div class="text">
                  <h4>{{Trainer.name}}</h4>
                  <p>Yoga Trainer</p>
                  <p>{{Trainer.decription}}</p>
                  <a class="facebook"><i class="bi bi-facebook me-3" style="color:#888"></i></a>
                  <a class="twitter"><i class="bi bi-twitter" style="color:#888"></i></a>
                  <a class="linkedin"><i class="bi bi-behance mx-3" style="color:#888"></i></a>
                  <a class="youtube"> <i class="bi bi-dribbble" style="color:#888"></i></a>
                </div>
                <img src="{{imagepath}}{{Trainer.image}}" width="200px">
              </div>
            </a>
          </div>
        </div>
      </div>
      </ng-container>
    </div>
  </div>
</div>
<!--end trainer-section-->