<div class="ourClass">
  <img style="background-size: cover; position: relative; width: 100%;" src="assets/images/class-bg.jpg"/>
  <img style="position:absolute; left:5%; top: 54.5%;" src="assets/images/class-bg1.png" class="move1"/>
  <img style="position:absolute;left:13%; top: 20%;" src="assets/images/class-bg2.png" class="move2"/>
  <img style="position:absolute;left:10%; top: 45%;" src="assets/images/class-bg3.svg"/>
  <h1 style="position:absolute;left:12%; top: 37%; color: white;">Workout Details</h1>
  <nav style="position:absolute;left:12%; top: 45%;" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/home">Gymate</a></li>
      <li class="breadcrumb-item" style="color: #FF0336;">Workout Details</li>
    </ol>
  </nav>
</div>


<table class="table align-middle text-center mt-5 mb-5">
  <tbody>
    <tr *ngFor="let item of SingleworkoutDitails">
      <td >
        <p>Exercise </p>
        <p class="fw-bold">{{item.name}}</p>
        <p class="fw-bold">Equipment: <span class="text-muted">{{item.equipment}}</span></p>
        <a class="btn btn-primary" style="color: white !important;" routerLink="/single-workout/workout-details/exercise-details/{{item.id}}">View Details</a>
      </td>
      <td>
        <img src="{{imagepath}}{{item.image}}" style="width: 20%;" />
      </td>
      <td>
        <div style="border-right: 1px solid grey; margin-right: 15px; padding-right: 15px; display: inline-block;">
          <p style="font-size: 25px; margin-bottom: 0;">{{item.sets}}</p>
          <p class="text-muted" style="font-size: 15px;">SETS</p>
        </div>
        <div style="border-right: 1px solid grey; margin-right: 15px; padding-right: 15px; display: inline-block;">
          <p style="font-size: 25px; margin-bottom: 0;">{{item.reps}} Sec</p>
          <p class="text-muted" style="font-size: 15px;">REPS</p>
        </div>
        <div style="display: inline-block;">
          <p style="font-size: 25px; margin-bottom: 0;">{{item.rest}}"</p>
          <p class="text-muted" style="font-size: 15px;">REST</p>
        </div>
      </td>
    </tr>




    
  </tbody>
</table>
