<form class="p-4"  [formGroup]="trainerSession" (ngSubmit)="onSubmit()">

  <div class="mb-3">
    <label for="Price" class="form-label">name</label>
    <input type="text" class="form-control" formControlName="name" id="price" >
  </div>
    <div class="mb-3">
        <label for="Price" class="form-label">phone</label>
        <input type="text" class="form-control" formControlName="phone" id="price" >
      </div>

      <div class="mb-3">
        <label for="Price" class="form-label">gender</label>
        <input type="text" class="form-control" formControlName="gender" id="price" >
      </div>

      <div class="mb-3">
        <label for="Price" class="form-label">description</label>
        <input type="text" class="form-control" formControlName="decription" id="price" >
      </div>

      <!-- <div class="mb-3">
        <label for="Price" class="form-label">session_id</label>
        <input type="text" class="form-control" formControlName="session_id" id="price" >
      </div> -->

      <div class="mb-3">
      <select type="text"  class="form-select" [formControl]="control1" > 
        <option formControlName="session_id"  *ngFor="let class of classs"  [value]="class.id">{{class.name}}</option>
      </select>
      </div>

    <div class="mb-3">
      <label for="image" class="form-label">image</label>
      <input type="file" formControlName="image"  (change)="onFileChange($event)" id="image">
    </div>
    <div class="mb-3"> 
        <button type="submit" class="btn btn-primary">AddTrainer</button>
    </div>
    </form>