 <form class="p-4">



<div class="mb-3">
  <label for="Price" class="form-label">Price</label>
  <input type="text" class="form-control" id="Price" >
</div>
<div class="mb-3">
  <label for="Amount" class="form-label">Amount</label>
  <input type="text" class="form-control" id="Amount" >
</div>
<div class="mb-3">
  <label for="Details" class="form-label">Details </label>
  <input type="text" class="form-control" id="details">
</div>
<div class="mb-3">
  <label for="image" class="form-label">Image </label>
  <input type="file" (change)="onfileSelected($event)" id="image">
</div>
 <!-- <buttone type="button " (click)="uploadimege">Upload</buttone> -->
</form>
