
 <form class="p-4" [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="Price" class="form-label">name</label>
    <input type="text" class="form-control"  formControlName="name" >
  </div>
<div class="mb-3">
  <label for="Price" class="form-label">Price</label>
  <input type="number" class="form-control"  formControlName="price" >
</div>
<div class="mb-3">
  <label for="Amount" class="form-label">Amount</label>
  <input type="number" class="form-control" formControlName="amount" >
</div>
<div class="mb-3">
  <label for="Details" class="form-label">Details </label>
  <textarea  class="form-control"  formControlName="details" ></textarea>
</div>
<div class="mb-3">
  <label for="category_id" class="form-label">product category </label>
  <input type="number" class="form-control"  formControlName="category_id" >
</div>
<div class="mb-3">
  <label for="fileSource" class="form-label">Image </label>
  <input type="file" (change)="onFileChange($event)" formControlName="fileSource" >
</div>
<button  type="submit" class="btn btn-primary">Add Product</button>
</form>
