<div class="ourClass">
  <img style="background-size: cover; position: relative; width: 100%;" src="assets/images/class-bg.jpg"/>
  <img style="position:absolute; left:5%; top: 54.5%;" src="assets/images/class-bg1.png" class="move1"/>
  <img style="position:absolute;left:13%; top: 20%;" src="assets/images/class-bg2.png" class="move2"/>
  <img style="position:absolute;left:10%; top: 45%;" src="assets/images/class-bg3.svg"/>
  <h1 style="position:absolute;left:12%; top: 37%; color: white;">Classes</h1>
  <nav style="position:absolute;left:12%; top: 45%;" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/home">Gymate</a></li>
      <li class="breadcrumb-item"><a routerLink="/classes">classes</a></li>
      <li class="breadcrumb-item" style="color: #FF0336;">Details</li>
    </ol>
  </nav>
</div>

<div class="detail pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-8 leftColumn data1 mt-5 mb-5" style="min-height: 1300px;">
        <iframe width="100%" height="35%" src="https://www.youtube.com/embed/1iIZeIy7TqM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="container p-5">
          <div>
            <h3 class="fw-bold">The Best Body Fitness in Town</h3>
            <p style="color: grey;">Authoritatively disseminate multimedia based total linkage through market-driven metho dologies. Continually transform integrated results vis-a-vis multidisciplinary manufacture products. Appropriately foster fully researched innovation rather than backend supply chains results vis-a-vis multidisciplin ary manufactured.</p>
          </div>
          <div class="row row-cols-2 mb-4">
            <div class="col">
              <h4>We Have More Facilities For New Members</h4>
              <ul style="color: grey; font-size: 17px; list-style: none;">
                <li class="mb-3 mt-4"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M256 0C114.6 0 0 114.6 0 256c0 141.4 114.6 256 256 256s256-114.6 256-256C512 114.6 397.4 0 256 0zM358.6 278.6l-112 112c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25L290.8 256L201.4 166.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l112 112C364.9 239.6 368 247.8 368 256S364.9 272.4 358.6 278.6z"/></svg>Modern Equipments</li>
                <li class="mb-3"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M256 0C114.6 0 0 114.6 0 256c0 141.4 114.6 256 256 256s256-114.6 256-256C512 114.6 397.4 0 256 0zM358.6 278.6l-112 112c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25L290.8 256L201.4 166.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l112 112C364.9 239.6 368 247.8 368 256S364.9 272.4 358.6 278.6z"/></svg>Skilled Trainer</li>
                <li class="mb-3"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M256 0C114.6 0 0 114.6 0 256c0 141.4 114.6 256 256 256s256-114.6 256-256C512 114.6 397.4 0 256 0zM358.6 278.6l-112 112c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25L290.8 256L201.4 166.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l112 112C364.9 239.6 368 247.8 368 256S364.9 272.4 358.6 278.6z"/></svg>Monthly & Yearly EMI</li>
                <li><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M256 0C114.6 0 0 114.6 0 256c0 141.4 114.6 256 256 256s256-114.6 256-256C512 114.6 397.4 0 256 0zM358.6 278.6l-112 112c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25L290.8 256L201.4 166.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l112 112C364.9 239.6 368 247.8 368 256S364.9 272.4 358.6 278.6z"/></svg>Free Trial classes</li>
              </ul>
            </div>
            <div class="col">
              <img src="assets/images/a231.jpg">
            </div>
          </div>
          <div>
            <h3 class="fw-bold mb-3 mt-3">Things To Bring</h3>
            <p style="color: grey;">Authoritatively disseminate multimedia based total linkage through market-driven metho dologies. Continually transform integrated results.</p>
          </div>
          <div>
            <h3 class="fw-bold mb-3 mt-3">Class Time Table</h3>
            <p style="color: grey;">Authoritatively disseminate multimedia based total linkage through market-driven metho dologies. Continually transform integrated results.</p>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Day</th>
                <th scope="col">Time</th>
                <th scope="col">Trainer</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{getClass.Day}}</td>
                <td>{{getClass.Time}}</td>
                <td><a style="color: black;" routerLink="/trainerdetails">Dorian Yates</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-4 data2 mt-5 mb-5">
        <div class="row row-cols-1">
          <div class="col data3 mb-5 p-4">
            <h5 class="fw-bold pb-4 title mb-4">Course Info</h5>
            <h6 style="border-bottom: 1px solid #858D9D; padding-bottom: 20px; margin-bottom: 15px;">Course Price:
              <span class="fw-bolder fs-2">{{getClass.price}}$</span>
              <span style="color: #858D9D;" class="fs-6">/Month</span>
            </h6>
            <h6 style="border-bottom: 1px solid #858D9D; padding-bottom: 20px; margin-bottom: 15px;">Course Duration:
              <span class="fs-5">{{getClass.Duaration}}</span>
            </h6>
            <h6 style="border-bottom: 1px solid #858D9D; padding-bottom: 20px; margin-bottom: 15px;">Class Intensity:
              <span class="fs-5">Medium</span>
            </h6>
            <h6 style="border-bottom: 1px solid #858D9D; padding-bottom: 20px;">Class Name:
              <span class="fs-5">{{getClass.name}}</span>
            </h6>
            <a routerLink="/contact">
              <a  [routerLink]="['/contact',getClass.id]" class="btn btn-primary w-100 contactbtn fs-5 p-2 mt-5 mb-4" >Join Now
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M438.6 278.6l-160 160C272.4 444.9 264.2 448 256 448s-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L338.8 288H32C14.33 288 .0016 273.7 .0016 256S14.33 224 32 224h306.8l-105.4-105.4c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160C451.1 245.9 451.1 266.1 438.6 278.6z"/></svg>
              </a>
            </a>
          </div>

          <div class="col data4 mb-5 p-4">
            <h5 class="fw-bold pb-4 title mb-4">Other Classes</h5>
            <div class="row row-cols-1">
              <div class="col mb-3">
                <a routerLink="/classes/details">
                  <div class="row classBorder">
                    <img style="border-radius: 0; display: inline-block; width: 50%;" src="assets/images/class1.jpg" class="card-img col classImg img-fluid">
                    <div class="col row row-cols-1 mt-auto mb-auto">
                      <h5 class="class-title col" style="color: black;">Cycling</h5>
                      <p class="class-text col" style="color: black; font-size: 15px;">Friday 1:00 pm</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col mb-3">
                <a routerLink="/classes/details">
                  <div class="row classBorder">
                    <img style="border-radius: 0; display: inline-block; width: 50%;" src="assets/images/class1.jpg" class="card-img col classImg img-fluid">
                    <div class="col row row-cols-1 mt-auto mb-auto">
                      <h5 class="class-title col" style="color: black;">Cycling</h5>
                      <p class="class-text col" style="color: black; font-size: 15px;">Friday 1:00 pm</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col mb-3">
                <a routerLink="/classes/details">
                  <div class="row classBorder">
                    <img style="border-radius: 0; display: inline-block; width: 50%;" src="assets/images/class1.jpg" class="card-img col classImg img-fluid">
                    <div class="col row row-cols-1 mt-auto mb-auto">
                      <h5 class="class-title col" style="color: black;">Cycling</h5>
                      <p class="class-text col" style="color: black; font-size: 15px;">Friday 1:00 pm</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="row"><app-comment class="col-sm-12"></app-comment></div>
            </div>
          </div>
        </div>
      </div>
      <div>
        to book this Class :
        <form [formGroup]="memberForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="Price" class="form-label">Name</label>
            <input type="text"  formControlName="name" id="name" >
          </div>

          <div>
            <!-- <label for="Price" class="form-label">user_id</label> -->
            <input  type="hidden" formControlName="session_id" id="session_id" [value]="getClass.id">
          </div>
        
        <div class="mb-3">
          <label for="Price" class="form-label">email</label>
          <input type="text"  formControlName="email" id="email" >
        </div>

        <div class="mb-3"> 
          <button type="submit"  class="btn btn-primary">Book</button>
      </div>

        </form>
      </div>
    </div>
  </div>
</div>
    
