
 <form class="p-4" [formGroup]="updateForm" (ngSubmit)="onUpdate()">
  <div class="mb-3">
    <label for="name" class="form-label">name</label>
    <input type="text" class="form-control"  formControlName="name" >
  </div>
<div class="mb-3">
  <label for="rest" class="form-label">rest</label>
  <input type="number" class="form-control"  formControlName="rest" >
</div>
<div class="mb-3">
  <label for="reps" class="form-label">reps</label>
  <input type="number" class="form-control" formControlName="reps" >
</div>
<div class="mb-3">
  <label for="sets" class="form-label">sets</label>
  <input type="number" class="form-control" formControlName="sets" >
</div>
<div class="mb-3">
  <label for="equipment" class="form-label">equipment</label>
  <input type="text" class="form-control"  formControlName="equipment" >
</div>
<div class="mb-3">
  <label for="discription" class="form-label">discription </label>
  <textarea  class="form-control"  formControlName="discription" ></textarea>
</div>
<div class="mb-3">
  <select type="text" class="form-select" [formControl]="control">
    <option   formControlName="single_workout_caregorie_id" *ngFor="let item of Singleworkout" [value]="item.id">{{item.name}}</option>
  </select>
 </div>
<!-- <div class="mb-3">
  <label for="fileSource" class="form-label">Image </label>
  <input type="file" formControlName="fileSource" >
</div> -->
<button  type="submit" class="btn btn-primary">update Exrcies</button>
</form>
