<div class="container-fluid">

  <!-- Page Heading -->

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">All Foods</h6>
    </div>

    <div class="card-body">
      <a routerLink="/admin/addproduct" style="float: right;" class="btn btn-primary">Add Food</a>
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Name</th>
              <th>Calories</th>
              <th>Carbohydrates</th>


            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let item of foods">

              <td>{{item.name}}</td>
              <td>{{item.Calories}}</td>
              <td>{{item.Carbohydrates}}</td>

              <td class=" "><button type="button" class="btn btn-danger me-3"
                  (click)="delete(item.id,item.i)">delete</button>
                <button type="button" class="btn btn-success" routerLink="/admin/edit-food/{{item.id}}">update</button>

              </td>

            </tr>
          </tbody>


        </table>
      </div>
    </div>
  </div>

</div>
